.container{
    background-color: white;
    border-radius: 1em;
    border: 2px solid grey;
    padding: 1em;
}

#interface{
    padding-top: 5em;
    background-image: url(bgimage.png);
    background-position: bottom;
    background-size: cover;
}